In [17]:
#Import dependencies
import pandas as pd
import numpy as np
import os

In [18]:
#Take the csv from resources
measure_data = os.path.join('Resources', 'hawaii_measurements.csv')
station_data = os.path.join('Resources', 'hawaii_stations.csv')

#read the csv files
measure_df = pd.read_csv(measure_data)
station_df = pd.read_csv(station_data)

In [19]:
#Checking for null values in measurement data
measure_df.isnull().values.any()

True

In [20]:
#Checking the number of null values in measurement data
measure_df.isnull().sum()

station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [21]:
#Checking for null values in station data
station_df.isnull().values.any()

False

In [22]:
# Dropping the NaN values from measurment data
measure_cleaned_df = measure_df.dropna(axis=0).reset_index(drop=True)
measure_cleaned_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [23]:
# Save the cleaned data to a file called `measured_cleaned.csv`

new1_csv = "measure_cleaned.csv"
measure_cleaned_df.to_csv(new1_csv, index=False)

In [24]:
# Save the cleaned data to a file called `station_cleaned.csv`
new2_csv = "station_cleaned.csv"
station_df.to_csv(new2_csv, index=False)